<article *ngIf="hidegears">
  <section>
    <h2>Handling gear and engine</h2>
  </section>
  <div class="gear-container">
    <app-gear (OnGearChange)="onGearChange($event)"></app-gear>
  </div>
  <div class="engine-container">
    <app-engine></app-engine>
  </div>
</article>
<br>
<br>
<br>
<article>
  <h2>List of coordinates</h2>
  <ul>
    <li *ngFor="let coordinate of cardinalCoordinates" [innerHtml]="coordinate.value | bolder">
    </li>
  </ul>
  <section hidden="true">
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm.value)">
      <textarea name="coordinates" [formControl]="myForm.controls['coordinates']" cols="50" rows="8" required></textarea>
      <div *ngIf="myForm.controls['coordinates'].hasError('required') && myForm.controls['coordinates'].touched" style="color: red;">
        Please enter text
      </div>
      <div *ngIf="myForm.controls['coordinates'].hasError('minlength')" style="color: red;">
        Please enter more than 4 characters
      </div>
      <div *ngIf="!isValidCardinal" style="color: crimson;">
        The following cardinal coordinates are invalid:
        <ul>
          <li *ngFor="let cardinal of invalidCardinals">
            {{cardinal}}
          </li>
        </ul>
      </div>
      <div *ngIf="showsuccess" style="color: green;">
        Valid cardinal coordinates
      </div>
      <button [disabled]="!myForm.valid">Submit</button>
    </form>
    {{myForm.valid}}
  </section>
  <section>
    <h2>Enter cardinal coordinates</h2>
    <div id="editable" #editable contenteditable="true" class="editable-content" (focus)="editable.style.color='white'"> 
    </div>
    <button (click)="submitData()">Submit</button>  
  </section>
</article>
