<article *ngIf="hidegears">
  <section>
    <h2>Handling gear and engine</h2>
  </section>
  <div class="gear-container">
    <app-gear (OnGearChange)="onGearChange($event)"></app-gear>
  </div>
  <div class="engine-container">
    <app-engine></app-engine>
  </div>
</article>
<br>
<br>
<br>
<article>
  <h2>List of coordinates</h2>
  <ul>
    <li class="cods-list" *ngFor="let coordinate of cardinalCoordinates; let i = index;"  [innerHtml]="coordinate.value | bolder">
      {{i}}
    </li>
  </ul>
  <section hidden="true">
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm.value)">
      <textarea name="coordinates" [formControl]="myForm.controls['coordinates']" cols="50" rows="8" required></textarea>
      <div *ngIf="myForm.controls['coordinates'].hasError('required') && myForm.controls['coordinates'].touched" style="color: red;">
        Please enter text
      </div>
      <div *ngIf="myForm.controls['coordinates'].hasError('minlength')" style="color: red;">
        Please enter more than 4 characters
      </div>
      <div *ngIf="!isValidCardinal" style="color: crimson;">
        The following cardinal coordinates are invalid:
        <!-- <ul> -->
          <li *ngFor="let cardinal of invalidCardinals">
            {{cardinal}}
          </li>
        <!-- </ul> -->
      </div>
      <div *ngIf="showsuccess" style="color: green;">
        Valid cardinal coordinates
      </div>
      <button [disabled]="!myForm.valid">Submit</button>
    </form>
    {{myForm.valid}}
  </section>
  <section>
    <h2>Enter cardinal coordinates</h2>
    <p>
      <span *ngIf="cardinalCoordinates.length;">No. of coordinates{{cardinalCoordinates.length}}</span>
      <span *ngIf="!cardinalCoordinates.length;">Add coordinates</span>
    </p>
    <div id="editable" #editable contenteditable="true"
      class="editable-content"
      (focus)="editable.style.color='white';"
      (paste)="pasteText($event)"
      placeholder="Enter the coordinates"></div>
    <button (click)="submitData()">Submit</button>
  </section>
  <section>
    <h3>Attribute Directives</h3>
    <p [appHighlight]="highLightColor">Hover to highlight the text</p>
    <p appHighlight defaultHighlightColor="blue">Built using Attribute directive</p>
  </section>
  <section>
    <div *ngIf="true">
      <h3>Visible Content</h3>
      <p>This content is visible and availalble in the dom</p>
    </div>
    <div *ngIf="false">
      <h3>InVisible Content</h3>
      <p>This content is not visible and not availalble in the dom</p>
    </div>
  </section>
  <section>
    <h2>Custom structural directives</h2>
    <div *appUnless="showDiv">
      <p style="background-color: green;">This will appear until the condition is false </p>
    </div>
    <div *appUnless="!showDiv">
        <p style="background-color: yellow;">This will appear when the condition is true </p>
    </div>
  </section>
  <section>
    <h3>Built-in Pipes</h3>
    <p>Today's date is {{todaysDate | date}}</p>
    <h4>Formatted date:</h4>
    <p>Today's date is {{todaysDate | date:'dd-MM-yyyy (ww) (EEEE) HH:mm:ss SS aa zz GGGG '}}</p>
    <p>Birthday: {{birthDay | date: 'dd/MMMM/yyyy (EEEE)' | uppercase}} </p>
  </section>
  <section>
    <h3>Change detection</h3>
    <input type="text" name="change" #car
      (keyup.enter)="addCar(car.value); car.value=''"
      placeholder="Add Car">
  </section>
</article>
